@media only screen and (max-width:425px) {
    #root {
        display: block;
    }
    #main {
        top: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
        margin: 0;
        margin-right: 0;
    }
    #cover-image {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        max-width: 100vw;
    }
    .container {
        width: 90%;
    }
}
html, body {
    cursor: url(https://1.bp.blogspot.com/-qbWo9mPKO2Y/YL9utYdQBdI/AAAAAAAAFs4/mtjGu6u2uGwtJsT4gZG4lbhLV1a5lG6OQCLcBGAsYHQ/s0/mouse-f1.png), auto;
  }
@media only screen and (max-width:350px) and (min-width:150px) {
    #name,
    #first-name {
        font-size: 22px;
    }
    #nickname {
        font-size: 16px;
    }
    .skill-item {
        font-size: 12px;
    }
}